go 1.20

use (
    ./capsule-http/functions/hello-world
    ./capsule-http/functions/hey
    ./capsule-http/functions/index-html
    ./capsule-http
    ./capsule-cli
    ./capsule-cli/functions/hello
)
